.container {
  padding: 0 2rem;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title a {
  color: rgb(61, 179, 25);
  text-decoration: none;
}
.title {
  margin: 0;
  line-height: 1.15;
  font-size: 2rem;
}

.form {
  width: 45%;
  font-family: arial;
  margin-left: 30px;
  height: 80%;
  padding: 5px 10px 10px 10px;
  border-radius: 10px;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  margin-top: 4px;
  
}
.form1 {
  width: 30%;
  font-family: arial;
  margin-left: 30px;
  padding: 5px 10px 10px 10px;
  border-radius: 10px;
  display: inline-block;
  margin-top: 4px;

}

.formGroup {
  width: 100%;
  margin: 1rem 0px;
  border-radius: 10px;
}
.formGroup1 {
  width: 100%;
  margin: 1rem 0px;
  border-radius: 10px;
  text-align: center;
}

.formGroup label {
  display: block;
  margin-bottom: 0.5rem;
}
.formGroup input[type="text"] {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}
.formGroup textarea {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}

.button {
  
  border: none;
  color:white;
  background-color: rgb(61, 179, 25);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  
  cursor: pointer;
  border-radius: 10px;
  
}
.button1 {
  
  border: none;
  color:white;
  background-color: rgb(240, 13, 13);
  padding: 15px 15px;
  text-align: left;
  text-decoration: none;
  
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 10px;
}

.image{
  text-align: right;
  float:right;
  width: 150px;
  height: 200px;
  float: right;
}



@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
